
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   outline: 1px solid red;
    
}

@font-face {
    font-family: 'WorkSans-Medium';
    src: url('./font/static/WorkSans-Medium.ttf') format('truetype');
    
    font-style: normal; 
}

@font-face {
    font-family: 'Oxanium-Medium';
    src: url('./font/Oxanium/Oxanium-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



body {
    
    background-color: #222;
    
}
   
   
.headLine  {
    display: flex;
     justify-content: space-between;
    padding: 20px;
    

    padding-top: calc(34px + (37 - 34) * ((110vw - 375px) / (1280 - 375)));
    padding-left: calc(16px + (80 - 16) * ((110vw - 375px) / (1280 - 375)));
}

.headLine img {
    width: calc(48px + (66 - 48) * ((110vw - 375px) / (1280 - 375)));
    height: calc(48px + (66 - 48) * ((110vw - 375px) / (1280 - 375)));
    font-size: calc(48px + (66 - 48) * ((110vw - 375px) / (1280 - 375)));


}

.headword span {
    
    color: #fff;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 21.11px;
    text-align: left;
    
}
    
span.explore {
    font-family: 'WorkSans-Medium', sans-serif;
 width: 69px;
 height: 21px;
 margin-top: 17px;
 

 color:  #FFCE4E;
}
    
span.creators {
    font-family: 'WorkSans-Medium', sans-serif;
    width: 78px;
    height: 21px;
    margin: 61px;
    margin-top: 17px;
}
    
span.community {
    font-family: 'WorkSans-Medium', sans-serif;
    width: 105px;
   height: 21px;
   
   margin-top: 18px;
   margin-right: 161px;
   
}
        
.connect-wallet {
    font-family: 'WorkSans-Medium', sans-serif;
    padding: 10px 20px;
    border: 1px solid #FFCE4E;
    color: #FFCE4E;
    background: #E9D7A71A 10%;

    width: 195px;
    height: 61px;
    margin-right: 300px;
   
}

.burger-menu {
    display: none;
}

.headword {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
.mobile-menu {
    display: none;
}
.mobile-menu.active {
    display: none;
}


@media (max-width: 600px) {

    
    
    .headword {
        display: none;
    }

    .burger-menu {
        display: block;
        padding: 8px 4.8px 8px 4.8px;
    }
        
        
        

       
        
    .mobile-menu {
       
      display: flex;
      flex-direction: column;
       justify-content: center;
       align-items: center;
       
       top: 0;
       /* width: 100%; */
       height: 100%;
       background-color: #222;
       
       
       
   } 

    .mobile-menu span, .mobile-menu button {
       
       color: #fff;
       margin: 15px 0;
       font-size: 20px;
   }
}
       
        


       






section.container {
    
   background-image: url(./img/Rectangle\ 3.png);
   background-repeat: no-repeat;
    padding-left: calc(6.3vw + 0.619px);
    



}

h1 {
  font-family: 'Oxanium-Medium', sans-serif;
 color: #F5FBF2;

  font-size: 85px;
  font-weight: 700;
  line-height: 130px; 
  text-align: left;
  width: 710px;
  height: 390px;
  margin-top: 171px;
  
}
#patern {
    display: none;
}
strong {
    color: #FFCE4E;
}

.buttons {
    display: flex;
    margin-top: 77px;
    gap: 48px;
 
    
}
   
.btn-explore {
    padding: 24px 76px 24px 76px;
    background: #FFCE4E;
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
   
}

.btn-create {
   


padding: 24px 90px 24px 76px;
background: #E9D7A71A;
border: 1px solid #FFCE4E;
color:  #FFFFFF;

font-family: 'WorkSans-Medium', sans-serif;
font-size: 28px;
font-weight: 600;
line-height: 36px;

}

#blur {

    position: absolute;
    width: 770px;
    height: 1063px;
    top: 0;
    left: 900px;
    opacity: 0.3;
    
}

#hero-image {
    
    position: absolute;
    width: 558px;
height: 718px;
top: 242px;
left: 950px;

}

.stats {
    display: flex;
    gap: 103px;
    margin-top: 100px;
}
.stats div {
    
    font-family: 'Oxanium-Medium', sans-serif;
    color: #F5FBF2;
    font-size: calc(36px + (62 - 36) * ((110vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 172%;
}


.stats p {
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: calc(16px + (24 - 16) * ((110vw - 375px) / (1280 - 375)));
    font-weight: 400;
    line-height: 98%;
    color: #9B9E9A;
}

#Scroll {
    

margin-left: 650px;
margin-top: -220px;
opacity: 0.3;

}

.exchange {
   
    display: flex;
    
    gap: 132px;
    margin-top: 154px;
    margin-left: 187px;
}    

.coinbase {
    width: calc(95px + (149 - 95) * ((110vw - 375px) / (1280 - 375)));
    height: calc(21px + (33 - 21) * ((110vw - 375px) / (1280 - 375)));
    margin-top: 4px;
}

.blockchain {
    width: 309px;
    height: 24px;
    margin-top: 8px;
    left: 281px;
}

.binance {
    width: 204px;
height: 41px;
left: 722px;

}   


.bitmex {
    width: 165.41px;
    height: 28.38px;
    left: 12.25px;
    
    
}
.exchange-mobile {
    display: none;
}


@media (max-width: 600px) {

    section.container {
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
   
    h1 {
        font-size: 42px;
        font-weight: 700;
        line-height: 63px;
        width: 342px;
        height: 191px;
        margin-top: -250px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
        z-index: 1;
     }
    
     #patern {
      display: block;
      width: 100%;
      height: 326px;
       margin-top: 93px;
       margin-right: 20px;
       opacity: 0.5;
       }
       
       .buttons {
          display: flex;
          gap: 20px;
          margin-top: 25px;
          z-index: 1;
      }
        
      .btn-explore {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 155px;
          height: 54px;
         margin-left: -20px;
          font-size: 18px;
          font-weight: 600;
          line-height: 21.11px;
      }
        
      .btn-create {
         
          display: flex;
          align-items: center;
          justify-content: center;
          width: 155px;
          height: 54px;
          /* margin-right: 16px; */
          margin-left: -5px;
          font-size: 18px;
          font-weight: 600;
          line-height: 21.11px;
        }
          
      .headImage {
          margin-top: 53px;
      }   

      #blur {
          width: 100%;
          height: 501px;
          margin-top: -40px;
          margin-right: 20px;
          position: static;
          opacity: 0.2;
      }
    
      #hero-image {
          width: 282px;
          height: 378px;
          position: static;
          margin-top: -410px;
          margin-right: 35px;
      }
      #Scroll {
       display: none;
      } 
      .stats {
       margin-top: 51px;
       display: flex;
       gap: 39px;
       margin-right: 20px;
      }  
        
      .exchange {
          display: none;
      }
        
      .exchange-mobile {
          display: grid;
          grid-template-columns: 2fr 2fr;
          gap: 50px;
          justify-content: center;
          margin-top: 74px;
      }
      .coinbase {
          width: 95px;
      height: 21px;
      margin-left: 50px;
      }
      .blockchain {
          width: 155px;
          height: 12px;
          top: 9px;
          margin-right: 52px;
      }
        
      .binance {
          width: 120px;
          height: 25px;
          margin-left: 50px;
      }
          
          
      .bitmex {
          width: 102.41px;
      height: 18px;
      margin-left: 40px;
      }
      
      }
    
    
    
    
    

    
    
    


       
        
      .slider {
          /* margin-top: 100px; */
          background-image: url(./img/Rectangle\ 3.png);
          background-repeat: no-repeat;
          
          /* width: 100vw; */
          overflow: hidden;
          
      }
      
      #elipse {
          
          position: absolute;
          margin-top: 200px;
          margin-left: 585px;
          z-index: -1;
      }
          
      .slider h2 {
          
          font-family: 'Oxanium-Medium', sans-serif;
          display: inline-block;
          width: calc(254px + (409 - 254) * ((110vw - 375px) / (1280 - 375)));
          font-size: 64px;
          font-weight: 700;
          line-height: 130px;
          margin-top: 184px;
          margin-left: 620px;
          margin-bottom: 84px;
          color: #F5FBF2;
          z-index: -1;
      }
      .swiper-collections {
          display: flex;
          flex-direction: row;
          gap: 42px;
      }
          
      .placeaBid1, .placeaBid2, .placeaBid3, .placeaBid4, .placeaBid5 {
          background-image: url(./img/BG.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 495px;
          height: 691px;
          margin-left: 80px;
          
        
      }
          
      #image1 {
        width:  431px;
        height:  359px;
        margin-top:  32px;
        margin-left:  32px;
        margin-right:  32px;
      }
      
      
      
      #profImage {
          
          margin-top: 28px;
          margin-left: 32px;
      }
      
      
       .aboutImage {
          display: flex;
          flex-direction: column;
       }   
          
      
      h5 {
          font-family: 'WorkSans-Medium', sans-serif;
         display: inline-block;
        font-size: 28px;
        font-weight: 500;
        line-height: 35.45px;
        width: 146px;
        height: 31px;
        margin-top: -60px;
        margin-left: 102px;
        color: #F5FBF2;
      }

      

      .by {
          display: inline-block;
          font-family: 'WorkSans-Medium',sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 35.45px;
          width: 110px;
          height: 23px;
          top: 458px;
          margin-left: 105px;
          color: #BDAAC1;
          
      }
      
      .like {
          
          font-family: 'WorkSans-Medium', sans-serif;
          font-size: 32px;
          font-weight: 400;
          line-height: 35.45px;
          color: #76607A;
          margin-left: 380px;
          display: flex;
          gap: 12px;
          align-items: center;
          margin-top: -40px;
      }
      
      #heart {
          
          width: 28px;
          height: 25.69px;
          top: 437px;
          left: 387px;
          color: #76607A;
          
        }
      
        .bid {
         
            font-family: 'WorkSans-Medium', sans-serif;
          font-size: 24px;
          font-weight: 400;
          line-height: 35.45px;
          width: 135px;
          margin-top: 28px;
          margin-left: 32px;
          color: #C6BFC8;
      }
      
      
      .cost {
          white-space: nowrap;
          display: inline;
          font-family: 'Oxanium-Medium', sans-serif;
          font-size: 24px;
          font-weight: 700;
          
          line-height: 35.45px;
          color: #F5FBF2;
          width: 101px;
          height: 36px;
          margin-top: -35px;
          margin-left: 360px;
      }
      
      
      .btn-bid {
          width: 431px;
      height: 78px;
      margin-top: 40px;
      margin-left: 32px;
      margin-bottom: 28px;
      border: 1px solid #FDE8B3;
      font-family: 'WorkSans-Medium', sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 35.45px;
      color: #FFFFFF;
      background: #E9D7A71A;
      }
          
      #image2 {
          margin-top: 32px;
          margin-left: 32px;
          margin-right: 32px;
        }
      
      #image3 {
          margin-top: 32px;
          margin-left: 32px;
          margin-right: 32px;
        }
        
        .regulirovshik {
            display: flex;
          gap: 28px;
          margin-bottom: 42px;
          width: 136px;
          height: 54px;
          margin-left: 1360px;
      }
      
      #dalshe {
          
         background-color: transparent; 
         border: none;
      }
      
      #nazad {
          background-color: transparent;
          border: none;
      }
      .btn-viewAll {
          font-family: 'WorkSans-Medium', sans-serif;
          font-size: 30px;
          font-weight: 500;
          line-height: 35.45px;
          width: 257px;
          height: 84px;
          margin-top: 90px;
          margin-left: 671px;
        
          background: #E9D7A71A;
          color: #F5FBF2;
          border: 1px solid #FFCE4E
          
      }
        


      @media (max-width: 600px) {
         .slider {
             padding: 0 13px; 
            
         }
          
          #elipse{
              position: absolute;
              width: 84px;
              height: 84px;
              margin-top: 130px;
              margin-left: 55px;
              z-index: -1;
          }
          
          .regulirovshik {
              display: none;
          }
              
          .slider h2 {
              display: flex;
              flex-direction: row;
              margin-top: 146px;
              margin-left: 85px;
              font-size: 36px;
              font-weight: 700;
              line-height: 45px;
              text-align: center;
          }
          .swiper-collections {
               display: inline-block;
               width: 100vw;
               overflow: hidden;
           }
              
          h5 {
              width: 98px;
              height: 23px;
              font-size: 18px;
              font-weight: 600;
              line-height: 35.45px;
          }
          
      
          .by {
              width: 81px;
              height: 20px;
              font-size: 14px;
              font-weight: 400;
              line-height: 35.45px;
          }
          .like {
              width: 29px;
              height: 36px;
              font-size: 24px;
              font-weight: 400;
              line-height: 35.45px;
              margin-left: 240px;
              
          }
          #heart {
              width: 24px;
              height: 22.02px;
            }
          .bid {
            white-space: nowrap;
              width: 112px;
              height: 36px;
              margin-left: 36px;
              font-size: 20px;
              font-weight: 400;
              line-height: 35.45px;
            }
      
            .cost {
              width: 101px;
              height: 36px;
              font-size: 24px;
              font-weight: 700;
              line-height: 35.45px;
              margin-left: 206px;
          }
      
          .btn-bid {
              width: 271px;
              height: 54px;
              margin-left: 40px;
              font-size: 20px;
              font-weight: 500;
              line-height: 35.45px;
          }
          .placeaBid1, .placeaBid2, .placeaBid3, .placeaBid4, .placeaBid5 {
            background-size: cover;
           /* width: 100%;
            margin-left: auto;
            margin-right: auto;*/
            
            width: 343px;
            height: 600px;
            margin-left: -10px;
            
            
      
          }
      
          .profImage {
              width: 295px;
              height: 318px;
              margin-top: 24px;
              margin-left: 24px;
            }
      
            #image1, #image2, #image3 {
              width: 295px;
              height: 318px;
              margin-left: 24px;
              margin-top: 24px;
            }
              
            .btn-viewAll {
              width: 187px;
              height: 54px;
              font-size: 18px;
              font-weight: 600;
              line-height: 35.45px;
              margin-left: 94px;
          }
         
        }
        
   
        

        
        
      .NFT-works {
          margin-bottom: 174px;
          background-image: url(./img/Blurr\ effec\ red.png);
          background-repeat: no-repeat;
          background-position: center;
          
      }
      
      
      .NFT-works h2 {
          font-family: 'Oxanium-Medium', sans-serif;
          display: inline-block;
          width: calc(254px + (409 - 254) * ((110vw - 375px) / (1280 - 375)));
          font-size: 64px;
          font-weight: 700;
          line-height: 130px;
          margin-top: 184px;
          margin-left: 620px;
          margin-bottom: 84px;
          color: #F5FBF2;
      }
         
      
      
      .hiw {
          display: flex;
          gap: 54px;
          margin-left: 100px;
      }
      .howitworks {
          margin-left: -20px;
      }
      .howitworks2 {
          margin-left: -60px;
      }
      .howitworks3 {
          margin-left: -60px;
      }
      .howitworks4 {
          margin-left: -60px;
      }
          
      
      .hiw span {
          display: flex;
          
          font-family: 'WorkSans-Medium', sans-serif;
          font-size: 24px;
          font-weight: 600;
          line-height: 28.15px;
          margin-top: 32px;
          
          color: #FFCE4E;
      }
      
      #wallet {
          width: 106px;
          height: 106px;
          margin-left: 57px;
      }
      #g11 {
          width: 106px;
          height: 106px;
          margin-left: 70px;
      }
      #g12 {
          width: 106px;
          height: 106px;
          margin-left: 40px;
      }
      #g13 {
          width: 106px;
          height: 106px;
          margin-left: 50px;
      }
      #stroke {
          width: 166px;
          height: 30px;
          margin-top: 50px;
          margin-left: -50px;
          border: 2px;
      }
      #dotColumn1, #dotColumn2 {
          display: none;
      }
          
      @media (max-width: 600px) {
          .NFT-works {
              background-image: url(./img/Rectangle\ 15.png);
             background-repeat: no-repeat;
             background-position: center;
          }
          .NFT-works h2 {
            margin-top: 160px;
              margin-left: 85px;
              font-size: 36px;
              font-weight: 700;
              line-height: 45px;
          }
          .hiw {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-right: 0;
          }
          #stroke {
              display: none;
          }
          #dotColumn1 {
              display: block;
              width: 30px;
              height: 130px;
              top: 247px;
              margin-left: 70px;
          }
          #dotColumn2 {
              display: block;
              width: 30px;
              height: 160px;
              margin-left: 70px;
              
          }
      
          #wallet {
              width: 72px;
              height: 72px;
              margin-top: 52px;
              
          }
          .howitworks1 {
              margin-left: -10px;
          }
          #g11 {
              width: 72px;
              height: 72px;
              
              margin-left: 110px;
          }
          .howitworks2 span {
              margin-left: 30px;
            }
          #g12 {
              width: 72px;
              height: 72px;
              top: 648px;
              margin-left: 110px;
          }
          .howitworks3 span {
              margin-left: 65px;
          }
          #g13 {
              width: 72px;
              height: 72px;
              top: 945px;
              margin-left: 110px;
            }
            .howitworks4 span {
              margin-left: 60px;
          }
          
        }
        
        
      
        
        
        .collection {
            margin-top: 100px;
            margin-bottom: 200px;
            background-image: url(./img/Rectangle\ 11.png);
            background-repeat: no-repeat;
            background-position: center;
            
        }
            
      .collection h2 {
          font-family: 'Oxanium-Medium', sans-serif;
          white-space: nowrap;
          width: calc(254px + (409 - 254) * ((110vw - 375px) / (1280 - 375)));
          height: 120px;
          margin-left: 500px;
          
          margin-bottom: 100px;
          font-size: 64px;
          font-weight: 700;
          line-height: 130px;
          color: #F5FBF2;
      }
      #gallary-prev {
        background-color: transparent;
        border: none;
      }
      #gallary-next {
        background-color: transparent;
        border: none;
      }
       
      
          
          
        #elipsePurple {
          position: absolute;
          margin-left: 475px;
          margin-top: 15px;
          width: 110px;
          height: 110px;
          z-index: -1;
        } 

        #popImg1 {
            width: 453px;
            height: 272px;
            margin-top: 36px;
            margin-left: 36px;
        }
        #popImg2 {
            width: 453px;
            height: 272px;
            margin-top: 36px;
            margin-left: 36px;
        }

        #profImage2 {
            
            width: 64px;
            height: 64px;
            margin-left: 36px;
            margin-top: 24px;
        }
           


        .wizard {
            font-family: 'WorkSans-Medium', sans-serif;
            
            display: inline-block;
            width: 126px;
            height: 36px;
            margin-top: 39px;
            margin-left: 16px;
            font-size: 32px;
             font-weight: 500;
             line-height: 36px;
             color: #F5FBF2;

            }

            .articule {
                display: inline-flex;
                width: 81px;
                height: 36px;
                margin-top: 39px;
                margin-left: 140px;
                font-family: 'WorkSans-Medium', sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 35.45px;
                color: #C2B5C6;
            }

            .number {
             display: flex;
             flex-direction: row;
             justify-content: center;
             margin-left: 16px;

            }
            .window1 {
                display: flex;
                align-items: center;
            }
            
            .popularCol {
                background-image: url(./img/Rectangle\ 13.png);
                background-repeat: no-repeat;
                width: 525px;
                height: 432px;
                margin-left: 80px;
            }

            @media(max-width: 600px) {
                
                .collection h2 {
                font-size: 36px;
                font-weight: 700;
                line-height: 45px;
                margin-left: 20px;
                }
                #elipsePurple {
                    position: absolute;
                    width: 84px;
                    height: 84px;
                    margin-left: 16px;
                    margin-right: 10px;
                    margin-top: -20px;
                }
                .popularCol {
                    background-size: cover;
                    width: 340px; 
                    height: 277px;
                    margin-left: 16px;
                }

                


               
                

                 
                 
                #popImg1, #popImg2 {
                 width: 303px;
                height: 178px;
                 margin-top: 20px;
                 margin-left: 20px;
                }
                #profImage2 {
                    width: 42px;
                    height: 42px;
                    margin-top: 16px;
                    margin-left: 20px;
                }
                
                .wizard {
                    
                    width: 91px;
                    height: 25px;
                    margin-top: 15px;
                    margin-left: 10px;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 35.45px;
                }
                .articule {
                    
                    width: 65px;
                    height: 27px;
                    margin-top: 15px;
                    margin-left: 69px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 35.45px;
                }
                }






.explore {
    background-image: url(./img/Blurr\ effec\ red.png);
    background-repeat: no-repeat;
    background-position-y: -250px;
    margin-bottom: 100px;
}
    



  .explore h2 {
    font-family: 'Oxanium-Medium', sans-serif;
    white-space: nowrap;
    width: calc(254px + (409 - 254) * ((110vw - 375px) / (1280 - 375)));
    height: 120px;
    margin-left: 500px;
    margin-top: 100px;
    margin-bottom: 85px;
    font-size: 64px;
    font-weight: 700;
    line-height: 130px;
    color: #F5FBF2;
  }   
  
  #elipse-explore {
    position: absolute;
    margin-left: 475px;
    margin-top: 10px;
    margin-bottom: 84px;
    width: 110px;
    height: 110px;
    z-index: -1;
  }   
  
  #explore1, #explore2, #explore3 {
    width: 351px;
    height: 306px;
    margin-top: 32px;
    margin-left: 32px;

}

#profImage3 {
    width: 58px;
    height: 58px;
    margin-top: 16px;
    margin-left: 32px;
}

.aboutCard {
    display: flex;
    flex-direction: column;
}

.explore h5 {
    font-family: 'WorkSans-Medium', sans-serif;
    display: inline-block;
    width: 146px;
    height: 31px;
    margin-top: -60px;
    margin-left: 102px;
    font-size: 24px;
    font-weight: 600;
    line-height: 35.45px;
}

.bw {
    font-family: 'WorkSans-Medium', sans-serif;
    display: inline-block;
    width: 105px;
    height: 23px;
    top: 393px;
    margin-left: 102px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35.45px;
    text-align: left;
    color: #BDAAC1;
}

.love {
    font-family: 'WorkSans-Medium', sans-serif;
    width: 29px;
    height: 36px;
    margin-left: 318px;
    font-size: 24px;
    font-weight: 400;
    line-height: 35.45px;
    color: #BDAAC1;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: -40px;
    
}

#sticker {
    width: 24px;
height: 22.02px;
top: 369px;
left: 318px;
}

.curent {
    font-family: 'WorkSans-Medium', sans-serif;
    white-space: nowrap;
    width: 112px;
height: 36px;
margin-top: 28px;
margin-left: 32px;
font-size: 20px;
font-weight: 400;
line-height: 35.45px;
color: #C6BFC8;
}

.prize {
    font-family: 'Oxanium-Medium', sans-serif;

    width: 84px;
    height: 36px;
    margin-top: -35px;
    margin-left: 300px;
   font-size: 20px;
   font-weight: 700;
   line-height: 35.45px;
   color: #F5FBF2;
}

.categories1 {
    background-image: url(./img/explore\ blur.png);
    background-repeat: no-repeat;
    width: 415px;
    height: 504px;
    margin-left: 80px;
}

.btn-place {
    position: absolute;
    width: 246px;
    height: 70px;
    margin-top: 169px;
    margin-left: -300px;
    background-color: #FFCE4E;
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.15px;
}

.explore-container {
    position: relative;
    display: inline-block; 
}


@media(max-width: 600px) {
    .explore {
        margin-bottom: 0;
    }
    #explore1, #explore2, #explore3 {
        width: 295px;
        height: 318px;
        margin-top: 24px;
        margin-left: 24px;
        
    }
   

    .explore h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: normal;
        font-size: 36px;
        font-weight: 700;
        line-height: 45px;
        width: 250px;
        height: 99px;
        margin-top: 26px;
        margin-left: 100px;
    }
    #elipse-explore {
        position: absolute;
        width: 72px;
        height: 72px;
        margin-top: -15px;
        margin-left: 75px;


    }
    .explore h5{
        font-size: 18px;
        font-weight: 600;
        line-height: 35.45px;
        width: 122px;
        height: 31px;
        margin-top: -55px;
        margin-left: 100px;
    }

    .bw {
        font-size: 14px;
        font-weight: 400;
        line-height: 35.45px;
        width: 105px;
        height: 23px;
        margin-top: 0;
        margin-left: 100px;
    }

    .curent {
        font-size: 20px;
        font-weight: 400;
        line-height: 35.45px;
        width: 112px;
        height: 33px;
        margin-top: 30px;
        margin-left: 24px;
    }

    .prize {
        font-size: 24px;
        font-weight: 700;
        line-height: 35.45px;
        width: 101px;
        height: 29px;
        
        margin-left: 218px;
    }
        

    .categories1 {
        width: 343px;
        height: 501px;
        margin-left: 16px;
    }
    .btn-place {
        width: 187px;
        height: 54px;
        margin-top: 220px;
        margin-left: -230px;
        font-size: 20px;
        font-weight: 700;
        line-height: 23.46px;
    }
       
    .love {
        font-size: 24px;
        font-weight: 400;
        line-height: 35.45px;
        width: 29px;
        height: 36px;
        margin-top: -50px;
        margin-left: 255px;
        
    }

}





.creators5 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap:  56px;
    margin-left: 150px;
}


.creators h2 {
    font-family: 'Oxanium-Medium', sans-serif;
    white-space: nowrap;
    width: calc(254px + (409 - 254) * ((110vw - 375px) / (1280 - 375)));
    height: 120px;
    margin-left: 624px;
    margin-top: 150px;
    margin-bottom: 85px;
    font-size: 64px;
    font-weight: 700;
    line-height: 130px;
    color: #F5FBF2; 
}
#elipsePurple1 {
    position: absolute;
    margin-left: 586px;
    margin-top: -200px;
    margin-bottom: 84px;
    width: 110px;
    height: 110px;
    z-index: -1;
}
.aboutCreators {
    display: flex;
    flex-direction: column;
}

.creators h5 {
    font-family: 'Oxanium-Medium', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 35.45px;
    width: 175px;
    height: 36px;
    margin-top: -90px;
    margin-left: 157px;
}
#line1 {
    transform: rotate(90deg);
    width: 100px;
    height: 0;
    margin-top: -50px;
    margin-left: 400px;
    border: 3px solid #49374E;
}
    
    

#profileImage1, #profileImage2, #profileImage3, #profileImage4 {
    width: 104px;
    height: 104px;
    margin-top: 26px;
    margin-left: 29px;
}

.eth {
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    width: 107px;
    height: 36px;
    margin-top: 8px;
    margin-left: 157px;
    color: #BDAAC1;
}

.number3 {
    font-family: 'Oxanium-Medium', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 35.45px;
    width: 39px;
    height: 36px;
    margin-top: -36px;
    margin-left: 500px;
    color: #F5FBF2;
}

.items {
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    width: 67px;
    height: 36px;
    margin-top: 6px;
    margin-left: 490px;
    color: #908294;
}
.creators1, .creators2, .creators3, .creators4 {
    background-image: url(./img/creators\ blur.png);
    background-repeat: repeat;
    width: 608px;
    height: 156px;
}
.creators2, .creators4 {
    margin-left: -72px;
}

@media(max-width: 600px) {

    .creators5 {
        grid-template-columns: 1fr;
        gap: 24px;
        margin-top: 70px;
        z-index: 1;
    }
    .creators h2 {
       
        font-size: 36px;
        font-weight: 700;
        line-height: 45px;
        width: 219px;
        height: 45px;
        margin-top: 150px;
        margin-left: 97px;
        margin-bottom: 150px    ;
        z-index: 1;
       
    }
    #elipsePurple1 {
        position: absolute;
        margin-left: 59px;
        margin-top: -220px;
        margin-bottom: 84px;
        width: 84px;
        height: 84px;
        z-index: -1;
    }
        
    .creators h5 {
        font-size: 20px;
        font-weight: 600;
        line-height: 35.45px;
        width: 122px;
        height: 25px;
        margin-top: -60px;
        margin-left: 76px;
    }
        
    #line1 {
        width: 60px;
        height: 0px;
        margin-top: -20px;
        margin-left: 200px;
    }
    
    #profileImage1, #profileImage2, #profileImage3, #profileImage4 {
        width: 48px;
        height: 48px;
        margin-top: 26px;
        margin-left: 16px;
    }
       
    .eth {
        white-space: nowrap;
        font-size: 14px;
        font-weight: 400;
        line-height: 35.45px;
        width: 62px;
        height: 18px;
        
        margin-left: 76px;
    }
        
    .number3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 35.45px;
        width: 33px;
        height: 26px;
        margin-top: -35px;
        margin-left: 270px;
    }

    .items {
        font-size: 16px;
        font-weight: 500;
        line-height: 35.45px;
        width: 45px;
        height: 16px;
        margin-top: 0;
        margin-left: 265px;
    }

    .creators1, .creators2, .creators3, .creators4 {
        background-image: url(./img/creators\ blur.png);
        background-repeat: repeat;
        width: 330px;
        height: 102px;
        margin-left: -130px;
        
    }
    
}


.subscribe {
    background-image: url(./img/Pattern.png);
    position: relative;
    background-position-y: 80px;
    width: 100%;
    opacity: 0.8 5;
}
    
   
    
    

    
   
    
    



.subscribe h2 {
    font-family: 'Oxanium-Medium', sans-serif;
    white-space: nowrap;
    display: inline-block;
    width: calc(254px + (409 - 254) * ((110vw - 375px) / (1280 - 375)));
    height: 120px;
    margin-left: 390px;
    margin-top: 150px;
    font-size: 64px;
    font-weight: 700;
    line-height: 130px;
    color: #F5FBF2; 
    position: relative;
    
    
    
    
}
    

.subscribe input {
    display: inline-block;
    width: 680px;
   height: 99px;
   background: #E9D7A71A;
   margin-left: 460px;
   margin-bottom: 100px;
   border: 1px solid #E7B226;
}

input::placeholder {
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35.45px;
    width: 188px;
    height: 36px;
    padding-left: 53px;
    padding-top: 30px;
    margin-top: 30px;
    color: #A48EA9;
   

}

.subscribe button {
    display: inline-block;
    width: 244px;
    height: 100px;
    margin-left: -245px;
    margin-top: 0;
    margin-bottom: 50px;
    background-color: #E7B226;
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 35.45px;
    
}

@media (max-width: 600px) {
    .subscribe {
        width: 100%;
        /*height: 270px;*/
        
    }

    .subscribe h2 {
        display: inline-block;
        font-size: 36px;
        font-weight: 700;
        line-height: 45px;
        text-align: center;
        white-space: normal;
        width: 290px;
        height: 116px;
        margin-left: 43px;
        
    }
    .subscribe input {
        display: block;
        width: 90%;
       height: 64px;
       border: 1px solid #E7B226;
       margin-left: 16px;
       margin-top: 24px;
       margin-bottom: 50px;
       background: #E9D7A71A;
    }
    input::placeholder {
        font-size: 18px;
        font-weight: 400;
        line-height: 35.45px;
        
        margin-top: 20px;
        margin-left: 32px;
    }

    .subscribe button {
        width: 187px;
        height: 54px;
        font-size: 24px;
        font-weight: 600;
        line-height: 35.45px;
        margin-top: -20px;
        margin-left: 94px;
        margin-bottom: 50px;
        display: block;
        
        
    }

}




.logo {
    display: flex;
    
}

#NFT-sticker {
    width: 194px;
    height: 194px;
    margin-top: 115px;
    margin-left: 80px;
    
}

.footer p {
    display: inline-block;
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    width: 391px;
    height: 92px;
    margin-top: 119px;
    margin-left: 51px;
    color: #96839B;
}

.social {
    width: 226.67px;
    height: 45px;
    margin-top: -50px;
    margin-left: 325px;
    display: flex;
}
    

#youtube {
    width: 45px;
    height: 45px;
    margin-top: 0;
    padding: 8px 3.47px 10.73px 4px;
}

#twitter {
    width: 32.75px;
    height: 26.6px;
    margin-top: 6.7px;
    margin-left: 33px;
}

#facebook {
    width: 14px;
    height: 27px;
    margin-top: 7px;
    margin-left: 33px;
}

#google {
    width: 28px;
    height: 27px;
    margin-top: 8px;
    margin-left: 37px;
}

.about {
    margin-top: -230px;
}

.about h3 {
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 35.45px;
    width: 108px;
    height: 36px;
    margin-top: 0;
    margin-left: 914px;
    margin-bottom: 18px;
    color: #F5FBF2;
}
.about a {
    white-space: nowrap;
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 50.5px;
    width: 132px;
    height: 202px;
    margin-top: 0;
    margin-left: 914px;
    color: #96839B;
}

.support {
    margin-top: -260px;
}

.support h3 {
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 35.45px;
    width: 108px;
    height: 36px;
    margin-top: 0;
    margin-left: 1273px;
    margin-bottom: 18px;
    color: #F5FBF2;
}


.support a {
    white-space: nowrap;
    font-family: 'WorkSans-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 50.5px;
    width: 132px;
    height: 202px;
    margin-top: 0;
    margin-left: 1273px;
    color: #96839B;
}

.reserved p {
    font-family: 'WorkSans-Medium', sans-serif;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    width: 241px;
    height: 36px;
    margin-top: 20px;
    margin-left: 325px;
    color: #96839B;
}

@media (max-width: 600px) {
    #NFT-sticker {
        width: 112px;
        height: 112px;
        margin-left: 131px;
        
    }
    .footer {
        background-color: #251928;
        background-size: cover;
        margin-top: -100px;
        width: 100%;
        margin-left: 0;
        
    } 
       
    .footer p {
        font-size: 18px;
        font-weight: 500;
        line-height: 36px;
        width: 330px;
        height: 104px;
        margin-top: 51px;
        margin-left: 16px;
        text-align: center;
    }
        
    .logo {
        display: block;
    }
      
    .about h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 35.45px;
        width: 108px;
        height: 36px;
        margin-top: 368px;
        margin-left: 28px;
    }
        
    .about a {
        font-size: 18px;
        font-weight: 500;
        line-height: 50.5px;
        width: 118px;
        height: 177px;
        margin-top: 422px;
        margin-left: 28px;
        
    }
       
    .support h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 35.45px;
        width: 96px;
        height: 36px;
        margin-left: 212px;
    }
        
    .support a {
        font-size: 18px;
        font-weight: 500;
        line-height: 50.5px;
        width: 135px;
        height: 177px;
        margin-left: 200px;
    } 
        
    .social {
        width: 226.67px;
        height: 45px;
        margin-top: 51px;
        margin-left: 55px;
    }
        
    .reserved p {
        width: 241px;
        height: 36px;
        margin-top: 7px;
        margin-left: 55px;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;

    }
}